
/* Your CSS Code here. */
#t1{
	border:1px;
	 border-style:solid;
	corder-color:black;
	
	width:400px;
}

#h1{
	color:white;
	background-color:darkred;
}
#b1{
	color:white;
	background-color:lightcoral;
}
#b2{
 background-color:mintcream;	
}
#b3{
	background-color:graytext;	
}